.module {
  // width: max-content;
  // max-width: 100%;
  width: 100%;
  display: inline-block;

  input {
    border: 0.1em solid;
    width: 100%;
    display: inline-block;
  }
}

.error {
  color: red;
}
