.module {
  display: flex;
  align-items: center;
  justify-content: center;

  // 上限のspinなくす
  // https://hirooooo-lab.com/development/html5-input-type-number-customize/
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input {
    width: 30px;
    text-align: center;
    border-radius: 7px;
    height: 40px;
    border: 0.1em solid;
    background-color: lavender;
  }
}
